@import 'Global.scss';

@mixin border($property) {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: $property;
}

.row-background {
  background-color: $row-background;
}

.list-item {
  &:hover {
    background-color: $brand-light;
  }
}

.info-boxes-col {
  .info-box {
    text-align: center;
    min-width: 50px;
    padding: 7px;

    .info-value {
      font-size: $font-average;
    }
    .info-title {
      font-size: $font-little;
    }
  }

  .info-border-green {
    @include border($green);
  }

  .info-border-red {
    @include border($red);
  }

  .info-border-yellow {
    @include border($yellow);
  }

  .info-background-green {
    color: $white;
    background-color: $green;
  }

  .info-background-red {
    color: $white;
    background-color: $red;
  }

  .info-background-yellow {
    color: $white;
    background-color: $yellow;
  }
}

.subject-col {
  .subject-title {
    font-size: $font-big;
  }
  .subject-subtitle {
    font-size: $font-average;
  }
  .subject-timestamp {
    font-size: $font-average;
  }
}

.background-test {
  border-style: solid;
  border-width: 1px;
  border-color: $blue;
  background-color: aliceblue;
}
